<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Purchase history</h1>
  </div>
</section>
<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
              <td>Product Name Dada</td>
              <td>In stock</td>
              <td class="text-center">1</td>
              <td class="text-right">124,90 $</td>
              <td class="text-right">
                <button type="button" class="btn btn-primary">View</button>
              </td>
            </tr>
            <tr>
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
              <td>Product Name Toto</td>
              <td>In stock</td>
              <td class="text-center">3</td>
              <td class="text-right">33,90 $</td>
              <td class="text-right">
                <button type="button" class="btn btn-primary">View</button>
              </td>
            </tr>
            <tr>
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
              <td>Product Name Titi</td>
              <td>In stock</td>
              <td class="text-center">1</td>
              <td class="text-right">70,00 $</td>
              <td class="text-right">
                <button type="button" class="btn btn-primary">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
