<div class="sign-up-container bg-light">
  <div class="sign-up-box">
    <h1 translate>Sign Up</h1>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <form (ngSubmit)="signUp()" [formGroup]="signUpForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Sign up failed.
            </div>
            <div class="form-group">
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  autocomplete="username"
                  [placeholder]="'Username' | translate"
                />
                <span hidden translate>Username</span>
                <small
                  [hidden]="signUpForm.controls.username.valid || signUpForm.controls.username.untouched"
                  class="text-danger"
                  translate
                >
                  Username is required
                </small>
              </label>
              <label class="d-block" *ngIf="signUpForm.controls.role.value == 'seller'">
                <input
                  type="text"
                  class="form-control"
                  formControlName="companyName"
                  autocomplete="companyName"
                  [placeholder]="'Company name' | translate"
                />
                <span hidden translate>Company name</span>
                <small
                  [hidden]="signUpForm.controls.companyName.valid || signUpForm.controls.companyName.untouched"
                  class="text-danger"
                  translate
                >
                  Company name is required
                </small>
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password' | translate"
                  required
                />
                <span hidden translate>Password</span>
                <small
                  [hidden]="signUpForm.controls.password.valid || signUpForm.controls.password.untouched"
                  class="text-danger"
                  translate
                >
                  Password is required
                </small>
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                  autocomplete="current-password"
                  [placeholder]="'Confirm password' | translate"
                  required
                />
                <span hidden translate>Password</span>
                <small
                  [hidden]="signUpForm.controls.confirmPassword.valid || signUpForm.controls.confirmPassword.untouched"
                  class="text-danger"
                  translate
                >
                  Confirm password is required
                </small>
              </label>
            </div>
            <div class="btn-group btn-group-toggle float-right w-100" ngbRadioGroup>
              <label ngbButtonLabel class="btn-outline-secondary btn-sm">
                <input ngbButton type="radio" formControlName="role" value="0" />Buyer
              </label>
              <label ngbButtonLabel class="btn-outline-secondary btn-sm">
                <input ngbButton type="radio" formControlName="role" value="1" />Seller
              </label>
            </div>
            <button class="btn btn-primary w-100 margin-top" type="submit" [disabled]="signUpForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Sign up</span>
            </button>
          </form>
        </div>
        <a class="text-center" routerLink="/login" routerLinkActive="active"><span translate>Login</span></a>
      </div>
    </div>
  </div>
</div>
