<div class="container">
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> filter</div>
        <ul class="list-group category_block">
          <li class="list-group-item">
            <div class="form-group">
              <label for="exampleInputEmail1">Start price</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Start price" />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">End price</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Start price" />
            </div>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-primary w-100" (click)="seach()">Filter</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search..." />
        <div class="input-group-prepend">
          <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let result of results">
          <div class="card">
            <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">
                <a href="product.html" title="View Product">{{ result['name'] }}</a>
              </h4>
              <p class="card-text">
                {{ result['description'] }}
              </p>
              <div class="row">
                <div class="col">
                  <p class="btn btn-danger btn-block">{{ result['price'] }} $</p>
                </div>
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-success btn-block"
                    [routerLink]="['/product-detail', result['id']]"
                    routerLinkActive="active"
                  >
                    <a></a>
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
